@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: italic;
}

@font-face {
    font-family: 'Shrikhand';
    src: url("Fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
:root{
     --background-color:#FFFBEA;
     --footer-color:#0291DC;
     --text-color-light:#1F0000;
     --text-color-dark:#FFFBEA;
     --menu-icon-color:#1F0000;
     --nav-background-color:#FFFBEA;
     --nav-a-hover-bg-color:#0291DC;

     --font-size-h1:38px;
     --font-size-h2:28px;
     --font-size-h3:22px;
     --font-size-h4:18px;
     --font-size-p:16px;
     --font-tag:16px;
     --font-footer:32px;
     --font-project-number:38px;

     --font-body: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-primary: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-secondary: "Shrikhand","Times New Roman", serif;
     --font-arrow: system-ui, sans-serif;

     --space-header-paragraph:8px;
     --space-section-vertical:50px;
     --space-section-horizontal:35px;
     --space-article:40px;
     --nav-height: 48px;

     --line-height-h1-h2:1.1;
     --line-height-h3-h4:1.2;
     --line-height-p:1.4;
}

* {
    box-sizing:border-box;
}

.site-wrapper{
    background-color: var(--background-color);
}

main{
    font-family: var(--font-body);
    color: var(--text-color-light);
}

footer{
    background-color: var(--footer-color);
}

/* navigation_bar */
header{
    background: var(--background-color);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;

label{
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 28px;
    width: 26px;
    z-index: 1001;

span{
    background-color:var(--menu-icon-color);
    border-radius: 2px;
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;

    transform-origin: left;
    transition: all 0.3s ease;

    &:nth-child(1) {
        top: 0;
    }

    &:nth-child(2) {
        top: 8px;
    }

    &:nth-child(3) {
        top: 16px;
    }
    }
  }
}

nav {
  background: var(--nav-background-color);
  height: 100vh;
  margin-block-start: var(--nav-height);
  width: 240px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      font-family: var(--font-body);

      a {
        color: var(--text-color-light);
        display: block;
        font-size: 20px;
        padding-block: 20px;
        padding-inline: 20px;
        text-decoration: none;

        &:hover {
          background-color: var(--nav-a-hover-bg-color);
          color: var(--text-color-dark);
        }
      }
    }
  }

  position: fixed;
  right: -300px;
  top: 0;
  z-index: 1000;

  transition: right 0.3s ease;
}

/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
  right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px; /* Fix */
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
}

.logo{
    width: 80px;
    margin: 16px 0 0 20px
}

/* home_page */
/* hero_section */
.hero{
    margin: 150px auto;
    text-align: center;
}
.hero h1{
    font-style: italic;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
    margin-bottom: 10px;
}
.hero h3{
    font-weight: lighter;
    font-size: var(--font-size-h3);
    max-width: 85%;
    margin: 0 auto;
    line-height: var(--line-height-h3-h4)
}

/* cta_section */
.cta{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 35px; 
    margin-bottom: 78px;
}

.arrow_icon{
    width: 50px;
}

.cta_text{
    font-size: var(--font-size-h3);
}

/* project_section */
.featured_projects h2{
    font-size: var(--font-size-h2);
    font-style: italic;
    display: flex;
    justify-content: center; 
    line-height: var(--line-height-h1-h2);
}

.case_study1{
    margin: 17px 20px;
    border:1px solid var(--text-color-light);
    border-radius: 10px;
    height: auto;
}

.project-number{
    font-size: var(--font-project-number);
    margin: 10px 0 0 20px;
}
.case_study1 h3{
    font-size: var(--font-size-h3);
    margin: 10px 0 15px 20px;
    line-height: var(--line-height-h3-h4);
}
.tag{
    display: flex;
    flex-wrap: wrap; 
    gap: 8px;
    font-size: var(--font-tag);
    font-style: italic;
    margin: 18px 0 0 15px;
    width: auto;
}
.tag1{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    height: max-content;
}
.tag2{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    white-space: nowrap;
    height: max-content;
}

.tag3{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    white-space: nowrap;
    height: max-content;
}

.nav_link{
    text-decoration: none;
}

.case-link{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    margin: 25px 0 0 20px;
    line-height: var(--line-height-h3-h4);
}

.arrow{
    font-family: var(--font-arrow);
}

.text_block{
    margin: 20px 0 0 0;
}
.zara_display{
    display: block;
    margin: 80px auto 80px;
    max-width: 85%;
    height: auto;
}

.case_study2{
    margin: 17px 20px 55px;
    border:1px solid var(--text-color-light);
    border-radius: 10px;
    height: auto;
}
.case_study2 h3{
    font-size: var(--font-size-h3);
    margin: 10px 0 15px 20px;
    line-height: var(--line-height-h3-h4);
}
.case_study2 h4{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    margin: 25px 0 0 20px;
    line-height: var(--line-height-h3-h4);
}
.airbnb_display{
    display: block;
    margin: 80px auto 80px;
    max-width: 85%;
    height: auto;
}

/* navbutton_block */
.button{
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
}

/* footer_section */
.site-footer {
  text-align: center;
  padding: 5px 0;
  border-top: 1.5px solid black;
}
.site-footer h2{
    font-size: var(--font-size-h2);
    color: var(--text-color-dark);
    font-family: var(--font-footer-primary);
    margin-top: 15px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px; 
    margin-top: 30px;
}
.footer-big-text{
    font-family: var(--font-footer-secondary);
    color: var(--text-color-dark);
    font-size: var(--font-footer);
    letter-spacing: 1.2px;
    display: inline-block;
    margin: 20px 0 5px;
}

.site-footer h4{
    font-family: var(--font-footer-primary);
    color: var(--text-color-dark);
    font: var(--font-size-h4);
    margin: 10px 0;
}

/* about_page */
.self_intro{
    display: flex;
    justify-content:center;
    align-items: center;  
    flex-wrap: wrap; 
    font-style: italic;
    gap: 15px;
    margin: 100px auto 0;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
}

.profile_image{
    width: 70px;
}
.intro_p{
    font-size: var(--font-size-p);
    max-width: 85%;
    margin: 35px auto;
    line-height: var(--line-height-p);
}
.selfie{
    display: flex;
    justify-content: center;
    margin: 70px auto;
}
.photo{
    width: 250px;
}
.resume{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

/* projects_page */
.project_title{
    display: flex;
    justify-content: center;
    font-style: italic;
    margin: 110px auto 0
}

/* zara_casestudy_page */
.zara_case{
    margin-top: 100px;
}
.project_name h1{
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
    font-style: normal;
}

.role{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.time{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.tool{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.year{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.A_info{
    font-weight: bold;
}
.info_column1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info_column2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.project-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 135px;
    margin: 30px var(--space-section-horizontal);
    font-size: var(--font-tag);
    line-height: var(--line-height-p);
}
.image-block{
    display: flex;
    justify-content: center;
}
.zara_website{
    width: 350px;
}

/* overview_section */
.project_overview{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.intro{
    margin-bottom: var(--space-article);
}
.intro h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
    margin-bottom: 0;
}
.background h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.project_overview p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph)
}

/* problem_section */
.problem{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.problem h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
}
.problem h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.problem p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph);
}
.problem1{
    margin-bottom:var(--space-article);
}
.problem2{
    margin-bottom:var(--space-article);
}

/* user_section */
.user{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.user h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
    margin-bottom: 0;
}
.user h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.user p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph);
}
.target_audience{
    margin-bottom:var(--space-article);
}
.zara_user_persona{
    width: 100%;
    height: auto;
}

/* goal_section */
.redesign_goal{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.redesign_goal h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
}
.redesign_goal h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.redesign_goal p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph);
}
.goal1{
    margin-bottom:var(--space-article);
}
.goal2{
    margin-bottom:var(--space-article);
}

/* goal_section */
.solution{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}

.solution h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
}

.solution h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.solution p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph);
}
.zara_homepage{
    width: 100%;
    height: auto;
}
.zara_product_detail_page{
    width: 100%;
    height: auto;
}
.zara_filter{
    width: 100%;
    height: auto;
}
.solution1{
    margin-bottom:var(--space-article);
}
.solution2{
    margin-bottom:var(--space-article);
}

/* result_section */
.result{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.result h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
}
.result h3{
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3-h4);
    margin-bottom: 0;
}
.result p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-top: var(--space-header-paragraph);
}
.result1{
    margin-bottom:var(--space-article);
}
.result2{
    margin-bottom:var(--space-article);
}

/* prototype_section */
.case_button{
    display: flex;
    justify-content: center; 
    margin-bottom: 50px;
}

/* navlink_section */
.next_link{
    display: flex;
    justify-content: end;
    margin: 0 45px 60px 0;
}

/* airbnb_casestudy_page */
.airbnb_case{
    margin-top: 100px;
}
.airbnb_app{
    width: 350px;
}
.airbnb_user_persona{
    width: 100%;
    height: auto;
}
.airbnb_app_solution{
    width: 100%;
    height: auto;
}
.interaction_enhancement{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.interaction_enhancement h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h1-h2);
}
.line_1{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}
.line_2{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin-bottom:var(--space-article);
}
.airbnb_interaction{
    width: 55%;    
    display: block; 
    margin: 0 auto;
}