@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: italic;
}

@font-face {
    font-family: 'Shrikhand';
    src: url("Fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
:root{
     --background-color:#FFFBEA;
     --footer-color:#0291DC;
     --text-color-light:#1F0000;
     --text-color-dark:#FFFBEA;
     --menu-icon-color:#1F0000;
     --nav-background-color:#FFFBEA;
     --nav-a-hover-bg-color:#0291DC;

     --font-size-h1:32px;
     --font-size-h2:26px;
     --font-size-h3:22px;
     --font-size-h4:18px;
     --font-size-p:16px;
     --font-footer:32px;

     --font-body: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-primary: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-secondary: "Shrikhand","Times New Roman", serif;
     --font-arrow: system-ui, sans-serif;

     --space-header-paragraph:8px;
     --space-section-vertical:35px;
     --space-section-horizontal:25px;
     --space-article:30px;
     --space-section-gap:40px;
     --nav-height: 48px;

     --line-height-heading:1.2;
     --line-height-p:1.4;
}
* {
    box-sizing:border-box;
}
.site-wrapper{
    background-color: var(--background-color);
}
main{
    font-family: var(--font-body);
    color: var(--text-color-light);
}
footer{
    background-color: var(--footer-color);
}

/* navigation_bar */
header{
    background: var(--background-color);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;

label{
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 26px;
    z-index: 1001;

span{
    background-color:var(--menu-icon-color);
    border-radius: 2px;
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;

    transform-origin: left;
    transition: all 0.3s ease;

    &:nth-child(1) {
        top: 0;
    }

    &:nth-child(2) {
        top: 8px;
    }

    &:nth-child(3) {
        top: 16px;
    }
    }
  }

  .logo{
    width: 70px;
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 1001;  
}
}

nav {
  background: var(--nav-background-color);
  height: 100vh;
  margin-block-start: var(--nav-height);
  width: 240px;

  ul {
    list-style: none;
    margin: 20px auto 0;
    padding: 0;

    li {
      padding: 0;
      font-family: var(--font-body);

      a {
        color: var(--text-color-light);
        display: block;
        font-size: 20px;
        padding-block: 20px;
        padding-inline: 20px;
        text-decoration: none;

        &:hover {
          background-color: var(--nav-a-hover-bg-color);
          color: var(--text-color-dark);
        }
      }
    }
  }

  position: fixed;
  right: -300px;
  top: 0;
  z-index: 1000;

  transition: right 0.3s ease;
}

/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
  right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px; /* Fix */
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
}


/* home_page */
/* hero_section */
.hero{
    margin: 150px auto;
    text-align: center;
}
.hero h1{
    font-style: italic;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
    margin-bottom: 10px;
}
.hero h3{
    font-weight: lighter;
    font-size: var(--font-size-h3);
    max-width: 85%;
    margin: 0 auto;
    line-height: var(--line-height-p);
}

/* cta_section */
.cta_icon{ 
    text-align: center;
    margin-bottom: 78px;
}
.arrow_icon{
    width: 15%;
}
/* project_section */
.featured_projects{
    text-align: center;
}
.section_title{
    font-size: var(--font-size-h1);
    font-style: italic; 
    text-align: center;
    line-height: var(--line-height-heading);
    margin: 30px auto;
}
.image_display{
    width: 90%;
}
.text_block{
    text-align: center;
    margin: 20px 0;
}
.text_block h2{
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
}
.tag{
    font-size:var(--font-size-h4);
    width: 85%;
    margin: 0 auto;
}
.text_block p{
    max-width: 85%;
    margin: 20px auto 35px;
    line-height: var(--line-height-p);
}
.section_line{
    width: 90%;
    border: 1px solid var(--text-color-light);
    margin: 40px auto;
}
.case-link{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    font-weight: bold;
}
.arrow{
    font-family: var(--font-arrow);
}
/* navbutton_block */
.button{
    text-align: center;
    margin: 50px auto 80px
}
.click_button{
    width: 50%;
}

/* footer_section */
.site-footer {
  text-align: center;
  padding: 5px 0;
  border-top: 1.5px solid var(--text-color-light);
}
.site-footer h2{
    font-size: var(--font-size-h2);
    color: var(--text-color-dark);
    font-family: var(--font-footer-primary);
    margin-top: 15px;
}
.contact{
    margin-top: 30px;  
    text-align: center; 
}
.email{
    margin: 10px 20px;
}
.linkedin{
    margin: 10px 20px;
}
.email_link{
    text-decoration: none;
}
.footer-big-text{
    font-family: var(--font-footer-secondary);
    color: var(--text-color-dark);
    font-size: var(--font-footer);
    letter-spacing: 1.2px;
    margin: 10px 0 5px;
}
.site-footer h4{
    font-family: var(--font-footer-primary);
    color: var(--text-color-dark);
    font-size: var(--font-size-h4);
    margin: 10px 0;
}

/* about_page */
.self_intro{
    text-align: center;
    margin: 100px auto 0;
    font-size: var(--font-size-h1);
}
.selfie{
    text-align: center;
    margin: 30px auto;
}
.selfie_photo{
    width: 85%;
}

.intro_paragraphs{
    font-size: var(--font-size-p);
    max-width: 85%;
    margin: 35px auto;
    line-height: var(--line-height-p);
}
.intro_paragraphs p{
    margin: 25px auto;
}
.resume{
    text-align: center;
    margin: 70px auto 100px;
}

/* projects_page */
.all_projects{
    text-align: center;
    margin-bottom: 100px;
}
.project_title{
    font-style: italic;
    margin: 100px auto 20px;
}

/* zara_casestudy_page */
.case-study{
    margin-top: 120px;
}
.project_name h1{
    margin: 20px auto;
    text-align: center;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
}
.image-block{
    text-align: center;
}
.case_study_image{
    width: 85%;
}
.case_study_image2{
    width: 85%;
    margin: 10px auto;
}
.All-info{
    margin: var(--space-section-vertical) var(--space-section-horizontal);
}
.section_line2{
    border: 1px solid var(--text-color-light);
    margin: 30px auto;
}
.All-info h2{
    font-size: var(--font-size-h2);
    margin: 0 auto;
    line-height: var(--line-height-heading);
}
.All-info h3{
    font-size: var(--font-size-h3);
    margin-bottom: 0;
    line-height: var(--line-height-heading);
}
.All-info h4{
    font-size: var(--font-size-h4);
    margin-bottom: 0;
}
.All-info p{
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    margin: var(--space-header-paragraph) auto var(--space-article)
}
.info-block{
    margin-bottom: var(--space-section-gap);
}
.design-process-image{
    width: 100%;
    margin-top: var(--space-article) ;
}
.project_image{
    width: 100%;

}
/* prototype_section */
.case_button{
    text-align: center;
    margin: 60px auto;
}   

/* navlink_section */
.next_link{
    text-align: right;
    margin: 60px 30px 70px;
}
.nav_link{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    font-weight: bold;
}

/* airbnb_casestudy_page */
.airbnb_case{
    margin-top: 100px;
}
.interaction_image{
    text-align: center;
}
.airbnb_interaction{
    width: 55%;
}