@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: italic;
}

@font-face {
    font-family: 'Shrikhand';
    src: url("Fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
:root{
     --background-color:#FFFBEA;
     --footer-color:#0291DC;
     --text-color-light:#1F0000;
     --text-color-dark:#FFFBEA;

     --font-size-h1:38px;
     --font-size-h2:28px;
     --font-size-h3:22px;
     --font-size-h4:18px;
     --font-size-p:16px;
     --font-tag:16px;
     --font-footer:32px;
     --font-project-number:38px;

     --font-body: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-primary: "PlayfairDisplay", "Times New Roman", serif;
     --font-footer-secondary: "Shrikhand","Times New Roman", serif;
     --font-arrow: system-ui, sans-serif;

     --space-header-paragraph:8px;
     --space-section:40px;

     --line-height-h1-h2:1.1;
     --line-height-h3-h4:1.2;
     --line-height-p:1.4;
}

* {
    box-sizing:border-box;
}
html{
  height: 100%;
  margin: 0;
}

.site-wrapper{
    background-color: var(--background-color);
}

main{
    font-family: var(--font-body);
    color: var(--text-color-light);
}

footer{
    background-color: var(--footer-color);
}

/* home_page */
/* navigation_bar */
.top_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.logo{
    width: 75px;
}

.menu{
    width: 45px;
}

/* hero_section */
.hero{
    margin: 85px auto 173px;
    text-align: center;
}

.hero h1{
    font-style: italic;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
    margin-bottom: 10px;
}
.hero h3{
    font-weight: lighter;
    font-size: var(--font-size-h3);
    max-width: 85%;
    margin: 0 auto;
    line-height: var(--line-height-h3-h4)
}

/* cta_section */
.cta{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 35px; 
    margin-bottom: 78px;
}

.arrow_icon{
    width: 50px;
}

.cta_text{
    font-size: var(--font-size-h3);
}

/* project_section */
.featured_projects h2{
    font-size: var(--font-size-h2);
    font-style: italic;
    display: flex;
    justify-content: center; 
    line-height: var(--line-height-h1-h2);
}

.case_study1{
    margin: 17px 20px;
    border:1px solid var(--text-color-light);
    border-radius: 10px;
    height: auto;
}

.project-number{
    font-size: var(--font-project-number);
    margin: 0 0 0 20px;
}
.case_study1 h3{
    font-size: var(--font-size-h3);
    margin: 10px 0 15px 20px;
    line-height: var(--line-height-h3-h4);
}
.tag{
    display: flex;
    flex-wrap: wrap; 
    gap: 8px;
    font-size: var(--font-tag);
    font-style: italic;
    margin: 18px 0 0 15px;
}
.tag1{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    height: max-content;
}
.tag2{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    white-space: nowrap;
    height: max-content;
}

.tag3{
    border:1px solid var(--text-color-light);
    border-radius: 24px;
    padding: 5px 12px;
    white-space: nowrap;
    height: max-content;
}

.nav_link{
    text-decoration: none;
}

.case-link{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    margin: 25px 0 0 20px;
    line-height: var(--line-height-h3-h4);
}

.arrow{
    font-family: var(--font-arrow);
}

.text_block{
    margin: 20px 0 0 0;
}
.zara_display{
    display: block;
    margin: 80px auto 80px;
    max-width: 85%;
    height: auto;
}

.case_study2{
    margin: 17px 20px 55px;
    border:1px solid var(--text-color-light);
    border-radius: 10px;
    height: auto;
}
.case_study2 h3{
    font-size: var(--font-size-h3);
    margin: 10px 0 15px 20px;
    line-height: var(--line-height-h3-h4);
}
.case_study2 h4{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-h4);
    margin: 25px 0 0 20px;
    line-height: var(--line-height-h3-h4);
}
.airbnb_display{
    display: block;
    margin: 80px auto 80px;
    max-width: 85%;
    height: auto;
}

/* navbutton_block */
.button{
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
}

/* footer_section */
.site-footer {
  text-align: center;
  padding: 5px 0;
}
.site-footer h2{
    font-size: var(--font-size-h2);
    color: var(--text-color-dark);
    font-family: var(--font-footer-primary);
    margin-top: 15px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px; 
    margin-top: 30px;
}
.site-footer h1{
    font-family: var(--font-footer-secondary);
    color: var(--text-color-dark);
    font-size: var(--font-footer);
    letter-spacing: 1.2px;
    margin: 20px 0 10px;
}

.site-footer h4{
    font-family: var(--font-footer-primary);
    color: var(--text-color-dark);
    font: var(--font-size-h4);
    margin: 10px 0;
}

/* about_page */
.self_intro{
    display: flex;
    justify-content:center;
    align-items: center;  
    flex-wrap: wrap; 
    font-style: italic;
    gap: 15px;
    margin: 50px auto 0;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
}
.subline{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-style: italic;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1-h2);
}
.profile_image{
    width: 70px;
}
.intro_p{
    font-size: var(--font-size-p);
    max-width: 85%;
    margin: 35px auto;
    line-height: var(--line-height-p);
}
.selfie{
    display: flex;
    justify-content: center;
    margin: 55px 0;
}
.photo{
    width: 250px;
}

/* projects_page */
.project_title{
    font-style: italic;
    margin: 45px 0 5px 25px;
}

